<div id="page_wrapper">
	

	<div id="content">
		<h1>About The Midland Agg</h1>


		<p>The Midland Agg was created with the intention of listing free to low cost, recreational, educational, or cultural events in the city of Midland, Ontario.</p>
		

		<p>This site is free to use, and will remain online as long as it serves its purpose, and or is not abused.</p>

		<!--
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/mackenziechild">@MackenzieChild</a> or on the web at <a href="http://mackenziechild.me">mackenziechild.me</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
-->

	</div>
</div>
